.videoContainer {
    margin-bottom: 3vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.btn {
    width: 65%;
    margin: 2vw auto;
}


@media (min-width: 800px) {
    .videoContainer {
        display: none;
    }

    .btn {
        width: 65%;
    }
};
