@import '../../../styles/colors.scss';

.feedback {
padding-top: 9.9vw;
padding-bottom: 10vw;
}

.titleWrap {
    padding-bottom: 3.7vw;
    padding-left: 6%;
}

.swiperWrap {
    // margin-bottom: 1vw;
}

.slide {
    height: auto;
    margin-bottom: 1vw;
    // padding-top: 1vw;
    // padding-bottom: 1vw;
    background-color: $back-green;
}

.slideWrap { 
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding-right: 0.5vw;
    padding-left: 0.5vw;
    align-items: center;
    // margin-right: 0.2vw;
    // padding-top: 1vw;
    padding-bottom: 1vw;
    height: 100%;
}


.img {
    width: 100%;
    max-width: 100%;
    height: auto;
}