@import '../../../styles/colors.scss';
@import '../../../styles/variables.scss';
@import '../../../styles/fonts.scss';

.navbar {
    display: flex;
    position: absolute;
    width: 100%;
    top: 2.5vw;
    left: 0;
    z-index: 5;
}

.linksWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-left: auto;
    margin-right: 5%;
}

.link {
    @include nunito-300-21;
    color: $text-brown;
    cursor: pointer;
    transition: $transition-appearance;

    &:hover {
        transition: $transition-disappearance;
        text-decoration: underline;
    }
}

.imgWrap {
    width: 2.5vw;
    margin-left: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img {
    width: 100%;
    max-width: 100%;
}

@media (max-width: 1140px) {

    .contentWrap {
        padding-top: 16vw;
        padding-bottom: 0vw;
    }

    .linksWrap {
        flex-wrap: wrap;
    }

    .linkWrap {
        width: 30%;
        padding-bottom: 2vw;
    }

    .link {
        @include nunito-300-35;
    }
};

@media (max-width: 768px) {
    .link {
        @include nunito-300-35;
    }
};

@media (max-width: 560px) {

    .linkWrap {
        padding-bottom: 2.5vw;
        margin-top: 2vw;
    }
    .link {
        font-size: 3.5vw;
    }
};