@import '../../../styles/colors.scss';
@import '../../../styles/variables.scss';
@import '../../../styles/fonts.scss';

.imageItem {
    display: flex;
    flex-direction: column;  
    justify-content: space-between;  
    width: 22vw; 
    text-align: left;
  }
  
  .image {
    width: 100%; 
    height: auto;  
    object-fit: cover;
    border-radius: 5px;
  }
  
  .imageTitle {
    @include nunito-300-25;
    margin-top: 1vw;
    text-align: left;
  }
  
  .description {
    @include nunito-300-21;
    margin-top: 3vw;
    min-height: 5vw;
    text-align: left;
    flex-grow: 1;
    line-height: 1.7;
    white-space: pre-line;
    padding-bottom: 13vw;
  }
  

  /* Планшет */
@media (max-width: 1023px) {
  .imageItem {
    width: 43vw; 
    margin-bottom: 1vw; /* Отступ снизу для улучшения визуала */
  }

  .imageTitle {
    @include nunito-300-40;
    margin-top: 1vw;
    text-align: left;
  }

  .imageTitle {
    margin-top: 2vw; 
  }

  .description {
    @include nunito-300-30;
    margin-top: 5vw;
    padding-bottom: 7vw;
  }
}

@media (max-width: 767px) {
  .imageItem {
    width: 80vw; 
    margin-bottom: 1vw; /* Отступ снизу для улучшения визуала */
  }

  .imageTitle {
    @include nunito-300-61;
  }

  .description {
    @include nunito-300-45;
    margin-top: 5vw;
    padding-bottom: 12vw;
  }
}