@import '../../../styles/colors.scss';
@import '../../../styles/variables.scss';
@import '../../../styles/fonts.scss';

.img,
.backImg,
.mainBilboard {
    width: 100%;
    max-width: 100%;
}

.mainBilboard {
    position: relative;
}

.backImg {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
}

.contentWrap {
    position: relative;
    z-index: 1;
    padding-top: 27.5vw;
    background-image: linear-gradient(rgba(217, 217, 217, 0.1), rgba(211, 194, 168, 1));
}

.title {
    @include nunito-500-120;
    text-align: center;
    text-transform: uppercase;
}

.btnWrap {
    width: 24%;
    margin-top: 1vw;
    margin-right: auto;
    margin-left: auto;
}

.text {
    @include nunito-500-35;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 14vw;
    padding-bottom: 7vw;
}