:root {
  width: 100%;
  font-family: "Nunito", serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #747A56;
  background-color: #D3C2A8;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  scroll-behavior: smooth;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background-color: #D3C2A8;
}

h1, h2, h3, h4, h5, h6, p, label {
  margin: 0;
  padding: 0;
}

ul { 
  list-style: none; 
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
}

select::-ms-expand {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}