@import '../../../styles/colors.scss';
@import '../../../styles/variables.scss';
@import '../../../styles/fonts.scss';

.button {
    width: 100%;
    max-width: 100%;
    min-width: fit-content;
    background-color: $button-brown;
    border: none;
    outline: none;
    border-radius: 10px;
    padding-top: .8vw;
    padding-bottom: .8vw;
}

.text {
    @include nunito-300-30;
    color: $text-white;
    white-space: nowrap;
}

/* Планшет */
@media (max-width: 1023px) {
    .button {
        padding-top: 1.5vw;
        padding-bottom: 1.5vw;
    }

    .text {
        @include nunito-300-61;
    }
}

@media (max-width: 767px) {
    .button {
        padding-top: 3vw;
        padding-bottom: 3vw;
    }

    .text {
        @include nunito-300-80;
    }
}