.videoContainer {margin-bottom: 50px;}

.btn {
    width: 40%;
    margin: 30px auto;
}


@media (min-width: 800px) {
    .videoContainer {
        display: none;
    }
    .btn {width: 200px;}
};

@media (min-width: 800px) {
    .btn {width: 200px;}
};