@import '../../../styles/colors.scss';
@import '../../../styles/fonts.scss';
@import '../../../styles/variables.scss';

.aboutMe {
    margin-left: 4vw;
    margin-bottom: 120px;
    margin-right: 1vw;
}

.info {
    display: flex;
}

.text {
    @include nunito-400-27;
    margin-right: 4vw;
    margin-top: 2vw;
}

.paragraph {
    margin-bottom: 2.5vw;
    line-height: 1.4;
}

.ctatext {
    text-align: center;
    margin-top: 4vw;
    @include nunito-400-30;
}

img {
    width: 40%;
}


@media (max-width: 560px) {
    .text {
        @include nunito-400-30;
    }

    .ctatext {
        @include nunito-400-35;
    }

};