

// @import '../../../node_modules/swiper/swiper.scss';
// @import '../../../node_modules/swiper/modules/navigation.scss';
// @import '../../../node_modules/swiper/modules/pagination.scss';

@import '../../../styles/colors.scss';


.feedback {
padding-top: 9.9vw;
padding-bottom: 10vw;
}

.titleWrap {
    padding-bottom: 3.7vw;
    padding-left: 4vw;
}


.slide {
    height: auto;
    margin-bottom: 1vw;
    background-color: $back-green;
}

.swiperWrap {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}

.slideWrap { 
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding-right: 0.5vw;
    padding-left: 0.5vw;
    align-items: center;
    padding-bottom: 1vw;
    height: 100%;
}


.img {
    width: 100%;
    max-width: 100%;
    height: auto;
}