//videoBlock.module.scss
.videoContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

video {
    margin: 0 auto;
}

.btn {
    width: 30%;
    margin: 8vw auto;
}

@media (max-width: 768px) {
    .videoContainer {
        display: none;
    }

    .btn {
        width: 65%;
    }
};