@import '../../../styles/colors.scss';
@import '../../../styles/fonts.scss';
@import '../../../styles/variables.scss';

.aboutMe {
    margin-left: 4vw;
    margin-bottom: 7vw;
    margin-right: 1vw;
}

.info {
    display: flex;
}

.text {
    @include nunito-300-30;
    margin-right: 4vw;
    margin-top: 2vw;
}

.paragraph {
    margin-bottom: 2.5vw;
    line-height: 1.4;
}

.ctatext {
    text-align: center;
    margin-top: 4vw;
    @include nunito-300-30;
}

img {
    width: 40%;
    object-fit: cover;
}

.img {
    border-radius: 8px;
}


@media (max-width: 800px) {
    .text {
        @include nunito-400-35;
    }

    .ctatext {
        @include nunito-400-40;
    }
};

@media (max-width: 560px) {
    .text {
        @include nunito-400-35;
    }

    .ctatext {
        @include nunito-400-40;
    }
};


@media (max-width: 560px) {
    .text {
        @include nunito-400-40;
    }

    .ctatext {
        @include nunito-400-50;
    }
};