.cases {
    margin-left: 2vw;
    margin-bottom: 100px;
}

.casesDescribe {
    display: flex;
    align-content: center;
    text-align: center;
    justify-content: center;
    margin-left: 10%;
}






