.cases {
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 7vw;
    align-items: center;
    margin-left: 2vw;
    overflow: hidden;
    width: 90%;
}

.casesDescribe {
    display: flex;
    align-content: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    margin-left: 5vw;
    overflow: hidden;
}

@media (max-width: 800px) {
    .casesDescribe {
        margin-left: 0vw;
    }
}





