@import '../../../styles/colors.scss';
@import '../../../styles/fonts.scss';
@import '../../../styles/variables.scss';

.slidecontent {
    display: flex;
    width: 83%;
    padding-left: 10vw;
    text-align: left;
    margin: 20px; 
    border: 1px solid #ccc;
    padding: 35px; 
    border-radius: 10px; 
    background-color: $back-green; 
    @include nunito-400-21;
    color: $white-text;
}

.when {@include nunito-400-25; margin-bottom: 10px;}

.photos {
    display: flex;
    gap: 10px;
}

.slideText {
    margin-left: 60px;
}

.name {
    text-align: center;
    @include nunito-400-30;
}

.caseHeading {
    background-color: $button-brown;
    border-radius: 27px;
    width: 370px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include nunito-400-25;
    margin-top: 25px;
    margin-bottom: 35px;
}

.list {
    list-style-type: disc;
}

.navigationButtonLeft,
.navigationButtonRight {
    position: absolute; 
    top: 50%; /* Центрирование по вертикали */
    transform: translateY(-50%); /* Чтобы центрировать по вертикали с учетом высоты кнопки */
    cursor: pointer; 
    width: 50px;
    height: 50px;
    z-index: 10;

    img {
        width: 50px;
    }
}



.navigationButtonLeft {
    left: -20px;
    bottom: 10px;
    z-index: 10;
}

.navigationButtonRight {
    right: 10px;
    z-index: 10;
    
}


.image {
    width: 100%;
}

li {
    margin: 5px 0; 
}


@media (max-width: 1290px) {
    .navigationButtonLeft {bottom: 30px;}
    .navigationButtonRight {bottom: 25px;}
}

@media (max-width: 1210px) {
    .navigationButtonLeft {bottom: 40px;}
    .navigationButtonRight {bottom: 35px;}
}

@media (max-width: 1190px) {
    .navigationButtonLeft {bottom: 25px; right: 90px;}
    .navigationButtonRight {bottom: 20px; right: 20px;}
}

@media (max-width: 1110px) {
    .navigationButtonLeft {bottom: 5px; right: 90px;}
    .navigationButtonRight {bottom: 0px; right: 20px;}
}

@media (max-width: 1095px) {
    .navigationButtonLeft {bottom: 25px; right: 100px;}
    .navigationButtonRight {bottom: 20px; right: 20px;}
}

@media (max-width: 1000px) {
    .slidecontent {@include nunito-400-30;}
    .caseHeading, .name, .when {@include nunito-400-35;}
    .navigationButtonLeft {bottom: 20px; right: 90px;}
    .navigationButtonRight {bottom: 15px; right: 20px;}
    .caseHeading {width: 300px;}
}

@media (max-width: 880px) {
    .navigationButtonLeft {bottom: 30px; right: 90px;}
    .navigationButtonRight {bottom: 25px; right: 20px;}
}

@media (max-width: 880px) {
    .navigationButtonLeft {bottom: 30px; right: 90px;}
    .navigationButtonRight {bottom: 25px; right: 20px;}
    .caseHeading {
        width: 250px; 
        margin-top: 30px;
        @include nunito-400-35;
    }
    //.slideText {width: 40%;}
    .slidecontent {
        flex-wrap: wrap;
        @include nunito-400-35;
    }
    .name, .caseHeading {@include nunito-400-40;}
}

@media (max-width: 500px) {
    .slidecontent {
        @include nunito-400-40;
    }
    .name, .caseHeading {@include nunito-400-45;}
    .slideText {margin-left: 20px;}
}

@media (max-width: 420px) {
    .slidecontent {
        @include nunito-500-61;
    }
    .name, .caseHeading {@include nunito-500-80;}
    .caseHeading {width: 250px;}
    .slideText {margin-left: 0px;}
    .navigationButtonLeft {bottom: 5px; right: 90px;}
    .navigationButtonRight {bottom: 0px; right: 20px;}
}



// .slide-image {
//     width: 100%; /* Сделать изображение адаптивным */
//     max-width: 400px; /* Ограничение максимальной ширины */
//     height: auto; /* Адаптивная высота */
//     border-radius: 5px; 
// }



