@import './variables.scss';

@font-face {
    font-family: 'Nunito', sans-serif;
    src: url('/Nunito/Nunito-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    }
    
@font-face {
    font-family: 'Nunito', sans-serif;
    src: url('/Nunito/Nunito-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    }


// Прмер подключения кастомного шрифта
// @font-face {
//     font-family: 'Evolventa Bold';
//     src: local('Evolventa-Bold'), 
//         url('/fonts/Evolventa-Bold.ttf') format('truetype'),
//         url('/fonts/Evolventa-Bold.otf') format('otf'),
//         url('/fonts/Evolventa-Bold.woff') format('woff'),
//         url('/fonts/Evolventa-Bold.svg') format("svg");
//     font-style: normal;
//     text-rendering: optimizeLegibility;
//     font-display: swap;
// }

// Пример шрифта - в названии сначала идёт жирность, затем размер. Располагайте шрифты в порядке - сначала по жирности, затем по размеру шрифта
// @mixin evolventa-700-111 {
//     font-family: "Evolventa Bold", sans-serif;
//     font-optical-sizing: auto;
//     font-style: normal;
//     line-height: normal;
//     font-weight: 700;
//     font-size: $font-size-111;
// }

@mixin nunito-300-21 {
    font-family: 'Nunito', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    line-height: normal;
    font-weight: 300;
    font-size: $font-size-21;
}

@mixin nunito-300-25 {
    font-family: 'Nunito', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    line-height: normal;
    font-weight: 300;
    font-size: $font-size-25;
}

@mixin nunito-300-30 {
    font-family: 'Nunito', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    line-height: normal;
    font-weight: 300;
    font-size: $font-size-30;
}

@mixin nunito-300-35 {
    font-family: 'Nunito', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    line-height: normal;
    font-weight: 300;
    font-size: $font-size-35;
}

@mixin nunito-300-61 {
    font-family: 'Nunito', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    line-height: normal;
    font-weight: 300;
    font-size: $font-size-61;
}

@mixin nunito-300-80 {
    font-family: 'Nunito', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    line-height: normal;
    font-weight: 300;
    font-size: $font-size-80;
}

@mixin nunito-300-120 {
    font-family: 'Nunito', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    line-height: normal;
    font-weight: 300;
    font-size: $font-size-120;
}

@mixin nunito-300-200 {
    font-family: 'Nunito', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    line-height: normal;
    font-weight: 300;
    font-size: $font-size-200;
}